---
// @ts-nocheck

import ViewCount from '@/components/viewCount/ViewCount.vue';
import HtmlLayout from '@/layouts/HtmlLayout.astro';
import MainLayout from '@/layouts/MainLayout.vue';
import StartForm from '@/components/main/StartForm.vue';
import CharacterIntro from '@/components/animation/CharacterIntro.vue';
import Footer from '@/layouts/Footer.vue';

const titleStyle =
	'text-5xl text-blue-300 text-center leading-[1.3] font-[Recipekorea] drop-shadow-[2px_2px_0px_rgb(22,135,245)] break-keep';
const mobileTitleStyle = 'max-md:text-4xl [&&]:max-[375px]:text-[28px]';

const descriptionStyle = 'text-2xl text-center leading-[1.2] mt-4 break-keep';
const mobileDescriptionStyle = 'max-md:text-xl [&&]:max-[375px]:text-lg';
---

<HtmlLayout bodyClassName="bg-sky-50">
	<MainLayout client:load isBackground={true}>
		<div>
			<h1 class={`${titleStyle} ${mobileTitleStyle}`}>
				카트라이더 캐릭터로 알아보는 <br /> 성격 테스트
			</h1>
			<p class={`${descriptionStyle} ${mobileDescriptionStyle}`}>
				나는 어떤 캐릭터와 같은 성격일까?
			</p>
		</div>

		<CharacterIntro client:load />

		<StartForm client:idle />

		<ViewCount client:idle />
	</MainLayout>
	<Footer />
</HtmlLayout>
