---
import '@/styles/global.css';
import { characters } from '@/data/characters.js';

const {
	bodyClassName = '',
	title = '카트라이더 캐릭터로 알아보는 성격 테스트',
	description = '나는 어떤 캐릭터의 성격일까? 카트라이더 캐릭터로 알아보는 성격 테스트를 해보세요!',
	image = '/images/og/og.png',
	customUrl = null,
	robots = 'index, follow'
} = Astro.props;

// URL 설정 (customUrl이 있으면 사용, 없으면 현재 URL 사용)
const url = customUrl || Astro.url.href;
---

<!--
  _  __             _   
 | |/ /            | |  
 | ' /  __ _  _ __ | |_ 
 |  <  / _` || '__|| __|
 | . \| (_| || |   | |_ 
 |_|\_\\__,_||_|    \__|

--><!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta
			name="keywords"
			content="카트라이더, 카트라이더 캐릭터, 카트라이더 성격 테스트, 성격 테스트, 카트라이더 성격"
		/>

		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:url" content={url} />
		<meta property="og:site_name" content="카트라이더 캐릭터로 알아보는 성격 테스트" />
		<meta property="og:locale" content="ko_KR" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={new URL(image, Astro.url)} />
		<meta name="twitter:url" content={url} />

		<meta name="author" content="카트라이더 성격 테스트" />
		<meta name="robots" content={robots} />
		<meta name="theme-color" content="#4F46E5" />

		<link rel="shortcut icon" id="favi" href="/favicon/32x32/img-dao-face.png" />
		<link rel="preload" href="/fonts/Recipekorea.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/Recipekorea.woff" as="font" type="font/woff" crossorigin />
		<script src="/scripts/console.js" is:inline></script>
		<script src="/scripts/favi.js" is:inline></script>
		<script src="/scripts/meta.js" is:inline></script>
		<link
			rel="stylesheet"
			as="style"
			crossorigin
			href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
		/>
		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-98CSMSW7J4"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-98CSMSW7J4');
		</script>
	</head>
	<body class={bodyClassName}>
		<div id="app" class="select-none size-full">
			<div class="h-full flex flex-col justify-between">
				<slot />
			</div>
		</div>
		<div id="popup-root"></div>
		<div class="hidden">
			<img src="/images/face/img-bazzi-face.webp" alt="" />
			<img src="/images/face/img-diz-face.webp" alt="" />
			<img src="/images/face/img-dao-face.webp" alt="" />
		</div>
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
		font-family: 'Pretendard Variable', sans-serif;
	}
</style>
